DynamicUsernameToken/SharedResources/WSDL/BooksService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.com/interface/books/GetBooksImpl/Service" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:ns0="http://www.example.com/xsd/books" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://www.example.com/interface/books/GetBooksImpl/Service">
    <wsdl:import location="oasis-200401-wss-wssecurity-secext-1.0.xsd" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"/>
    <wsdl:types>
        <xsd:schema xmlns="http://www.example.com/xsd/books" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.example.com/xsd/books">
            <xsd:complexType name="BookStoreType">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" ref="ns0:Book"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BookType">
                <xsd:sequence>
                    <xsd:element ref="ns0:Title"/>
                    <xsd:element ref="ns0:Author"/>
                    <xsd:element ref="ns0:Date"/>
                    <xsd:element ref="ns0:ISBN"/>
                    <xsd:element ref="ns0:Publisher"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ISBNType">
                <xsd:simpleContent>
                    <xsd:extension base="xsd:string"/>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="TitleType">
                <xsd:simpleContent>
                    <xsd:extension base="xsd:string"/>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:element name="Author" type="xsd:string"/>
            <xsd:element name="Book" type="ns0:BookType"/>
            <xsd:element name="BookStore" type="ns0:BookStoreType"/>
            <xsd:element name="Date" type="xsd:string"/>
            <xsd:element name="ISBN" type="ns0:ISBNType"/>
            <xsd:element name="Publisher" type="xsd:string"/>
            <xsd:element name="Title" type="ns0:TitleType"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:service name="QueryBooksByAuthor">
        <wsdl:port binding="tns:SOAPEventSourceBinding" name="SOAPEventSource">
            <soap:address location="http://localhost:9191/Service/QueryBooksByAuthor"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="GetBooksByAuthor">
        <wsdl:operation name="GetBooks">
            <wsdl:input message="tns:GetBooksByAuthor"/>
            <wsdl:output message="tns:GetBooksOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SOAPEventSourceBinding" type="tns:GetBooksByAuthor">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetBooks">
            <soap:operation soapAction="/Service/QueryBooksByAuthor" style="document"/>
            <wsdl:input>
                <soap:body parts="author" use="literal"/>
                <soap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="message" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="GetBooksByAuthor">
        <wsdl:part element="ns0:Author" name="author"/>
    </wsdl:message>
    <wsdl:message name="GetBooksOut">
        <wsdl:part element="ns0:BookStore" name="message"/>
    </wsdl:message>
    <wsdl:message name="Security">
        <wsdl:part element="wsse:Security" name="Security"/>
    </wsdl:message>
</wsdl:definitions>